
@{

    ViewBag.Title = "Perfil";
    int IDEmpresa = Convert.ToInt32(Session["IDEmpresa"]);
}


<body>

@section navbarUsuario{
}
    <form method="post" action="@Url.Action("ObtenerDatosCliente", "Perfil")">
        <button type="submit" class="btn btn-primary">Obtener Datos del Cliente</button>
 
        <div class="container" id="tarjeta">
            <div class="row">

            </div>
            <div class="row">
                @if (Model != null && Model.Count > 0)
                {
                    foreach (var cliente in Model)
                    {
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">@cliente.NombreContactoPrincipal</h5>
                                    <p class="card-text">Número de Contacto: @cliente.NumeroContactoPrincipal</p>
                                    <p class="card-text">Correo Electrónico: @cliente.CorreoContactoPrincipal</p>
                                    <p class="card-text">Usuario: @cliente.Usuario</p>
                                    <p class="card-text">Contraseña: @cliente.Contraseña</p>
                                    <p class="card-text">País de Residencia: @cliente.PaisResidencia</p>
                                </div>
                            </div>
                        </div>
                    }
                }
                
            </div>
        </div>
        <input type="hidden" name="IDEmpresa" value="@Session["IDEmpresa"]" />
        </form>
 @section footer{
 }


</body>