
@{
    ViewBag.Title = "Registro";
    var verificacionExitosa = HttpContext.Current.Request.QueryString["verificacionExitosa"] == "True";
}



<body>
    @if (verificacionExitosa)
    {
        <script type="text/javascript">
            $(document).ready(function () {
                // Define el contenido del modal para mostrar el mensaje de verificación exitosa
                $('.modal-body').text('Tu cuenta ha sido verificada con éxito.');
                // Muestra el modal
                $('#messageModal').modal('show');
            });
        </script>
    }

    @section navbar{
    }
    <style>
        .form-group1 .form-control {
            width: 100%;
            max-width: 100%;
            box-sizing: border-box;
        }
    </style>

    <!-- Sign-up Start -->
    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

    <!-- Incluyendo jQuery y Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">

    <div class="container-xxl py-5">
        <div class="container py-5">
            <div class="row g-5 align-items-center">
                <div class="col-lg-5 wow fadeInUp" data-wow-delay="0.1s">
                    <h6 class="text-secondary text-uppercase mb-3">REGISTRO</h6>
                    <h1 class="mb-5">Regístrate ahora!</h1>
                    <p class="mb-5">Regístrate ahora y obtén más información sobre nuestros servicios!</p>
                    <div class="d-flex align-items-center">
                        <i class="fa fa-user-plus fa-2x flex-shrink-0 bg-primary p-3 text-white"></i>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="bg-light text-center p-5 wow fadeIn" data-wow-delay="0.5s">
                        @if (TempData["MensajeExito"] != null)
                        {
                            <div class="alert alert-success">
                                @TempData["MensajeExito"]
                            </div>
                        }

                        @if (TempData["MensajeError"] != null)
                        {
                            <div class="alert alert-danger">
                                @TempData["MensajeError"]
                            </div>
                        }

                        <form action="@Url.Action("Registrar", "Registro")" method="post">


                            <div class="form-group">
                                <label for="IDEmpresa">ID Empresa:<span style="color: red;">*</span></label>
                                <input type="text" class="form-control" name="IDEmpresa" id="IDEmpresa" placeholder="ID Empresa" required>
                            </div>

                            <div class="form-group">
                                <label for="Identificacion">Identificacion/Cédula:<span style="color: red;">*Este será su usuario*</span></label>
                                <input type="text" class="form-control" name="Identificacion" id="Identificacion" placeholder="x-xxxx-xxxx" required>
                            </div>
                            <div class="form-group">
                                <label for="Nombre">Nombre Completo:<span style="color: red;">*</span></label>
                                <input type="text" class="form-control" name="Nombre" id="Nombre" placeholder="Nombre Completo" required>
                            </div>
                            <div class="form-group">
                                <label for="Apellidos">Apellidos:<span style="color: red;">*</span></label>
                                <input type="text" class="form-control" name="Apellidos" id="Apellidos" placeholder="Apellidos" required>
                            </div>
                            <div class="form-group">
                                <label for="Correol">Correo Electrónico:<span style="color: red;">*</span></label>
                                <input type="email" class="form-control" name="Correo" id="Correo" placeholder="Correo Electrónico" required>
                            </div>
                            <div class="form-group">
                                <label for="Telefono">Número de Teléfono:<span style="color: red;">*</span></label>
                                <input type="tel" class="form-control" name="Telefono" id="Telefono" placeholder="Número de Teléfono" required>
                            </div>

                            <div class="form-group">

                                <div class="form-group">
                                    <label for="pais-dropdown">País:<span style="color: red;">*</span></label>
                                    <select id="pais-dropdown" name="NombrePais" class="form-control"><option id="pais" value="">Seleccione un país</option></select>
                                </div>

                                <div class="form-group">
                                    <label for="provincia-dropdown">Provincia:<span style="color: red;">*</span></label>
                                    <select id="provincia-dropdown" name="NombreProvincia" class="form-control"><option id="provincia" value="">Primero seleccione un país</option></select>
                                </div>

                                <div class="form-group">
                                    <label for="canton-dropdown">Cantón:<span style="color: red;">*</span></label>
                                    <select id="canton-dropdown" name="NombreCanton" class="form-control"><option id="canton" value="">Primero seleccione una provincia</option></select>
                                </div>

                                <div class="form-group">
                                    <label for="distrito-dropdown">Distrito:<span style="color: red;">*</span></label>
                                    <select id="distrito-dropdown" name="NombreDistrito" class="form-control"><option id="distrito" value="">Primero seleccione un cantón</option></select>
                                </div>


                            </div>

                            <div class="form-group">
                                <label for="Contraseña">Contraseña:<span style="color: red;">*</span></label>
                                <div class="position-relative">
                                    <div class="input-group">
                                        <input type="password" class="form-control" name="Contraseña" id="Contraseña" placeholder="Contraseña" required>
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary" type="button" id="togglePassword" style="border-top-left-radius: 0; border-bottom-left-radius: 0;"><i class="fa fa-eye"></i></button>
                                        </div>
                                    </div>

                                    <div id="password-requirements" class="password-requirements d-none">
                                        <ul>
                                            <li id="length-requirement" class="text-danger"></li>
                                            <li id="letter-requirement" class="text-danger"></li>
                                            <li id="capital-requirement" class="text-danger"></li>
                                            <li id="number-requirement" class="text-danger"></li>
                                            <li id="special-requirement" class="text-danger"></li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                            <div class="form-group">
                                <label for="ConfirmacionContraseña">Confirmar Contraseña:<span style="color: red;">*</span></label>
                                <input type="password" class="form-control" id="ConfirmacionContraseña" placeholder="Confirmar Contraseña" required>
                                <span class="error-contraseña" style="color:red; display:none;"></span>
                            </div>


                            <!-- Pregunta de seguridad y respuesta 1 -->
                            <div class="form-group1">
                                <label for="Pregunta1">Pregunta de Seguridad 1:<span style="color: red;">*</span></label>
                                <select class="form-control" name="Pregunta1" id="Pregunta1" required>
                                    <option value="">Selecciona una pregunta</option>
                                    <option value="¿Cuál es el nombre de tu primera mascota?" style="width: 100%;">¿Cuál es el nombre de tu primera mascota?</option>
                                    <option value="¿Cuál es tu comida favorita de la infancia?">¿Cuál es tu comida favorita de la infancia?</option>
                                    <option value="¿Dónde conociste a tu pareja?">¿Dónde conociste a tu pareja?</option>
                                    <option value="¿Cuál es el nombre de tu mejor amigo de la infancia?">¿Cuál es el nombre de tu mejor amigo de la infancia?</option>
                                    <option value="¿Cuál es el nombre de tu abuelo materno?">¿Cuál es el nombre de tu abuelo materno?</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="Respuesta1" id="Respuesta1" placeholder="Respuesta 1" required>
                            </div>

                            <!-- Pregunta de seguridad y respuesta 2 -->
                            <div class="form-group1">
                                <label for="Pregunta2">Pregunta de Seguridad 2:<span style="color: red;">*</span></label>
                                <select class="form-control" name="Pregunta2" id="Pregunta2" required>
                                    <option value="">Selecciona una pregunta</option>
                                    <option value="¿Cuál es el nombre de tu primera mascota?" style="width: 100%;">¿Cuál es el nombre de tu primera mascota?</option>
                                    <option value="¿Cuál es tu comida favorita de la infancia?">¿Cuál es tu comida favorita de la infancia?</option>
                                    <option value="¿Dónde conociste a tu pareja?">¿Dónde conociste a tu pareja?</option>
                                    <option value="¿Cuál es el nombre de tu mejor amigo de la infancia?">¿Cuál es el nombre de tu mejor amigo de la infancia?</option>
                                    <option value="¿Cuál es el nombre de tu abuelo materno?">¿Cuál es el nombre de tu abuelo materno?</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="Respuesta2" id="Respuesta2" placeholder="Respuesta 2" required>
                            </div>

                            <!-- Pregunta de seguridad y respuesta 3 -->
                            <div class="form-group1">
                                <label for="Pregunta3">Pregunta de Seguridad 3:<span style="color: red;">*</span></label>
                                <select class="form-control" name="Pregunta3" id="Pregunta3" required>
                                    <option value="">Selecciona una pregunta</option>
                                    <option value="¿Cuál es el nombre de tu primera mascota?" style="width: 100%;">¿Cuál es el nombre de tu primera mascota?</option>
                                    <option value="¿Cuál es tu comida favorita de la infancia?">¿Cuál es tu comida favorita de la infancia?</option>
                                    <option value="¿Dónde conociste a tu pareja?">¿Dónde conociste a tu pareja?</option>
                                    <option value="¿Cuál es el nombre de tu mejor amigo de la infancia?">¿Cuál es el nombre de tu mejor amigo de la infancia?</option>
                                    <option value="¿Cuál es el nombre de tu abuelo materno?">¿Cuál es el nombre de tu abuelo materno?</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="Respuesta3" id="Respuesta3" placeholder="Respuesta 3" required>
                            </div>


                            <button type="submit" class="btn btn-primary">Registrarse</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Sign-up End -->
    <!-- Modal de Bootstrap para confirmación -->
    <div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header"> <h5 class="modal-title" id="modalLabel">Mensaje del Sistema</h5> <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button> </div> <div class="modal-body">
                    Edit
                    Full Screen
                    Copy code
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->

    <div>
        @if (ViewBag.ErrorRegistro != null)
        {<div class="modal fade" id="errorModal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Error al registrarse </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                        </div>
                        <div class="modal-body"> <p>@ViewBag.ErrorRegistro</p> </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="window.location.href='@Url.Action("Login", "Home")'">Aceptar</button>
                        </div>
                    </div>
                </div>
            </div>}
    </div>

    @section footer{
    }


    @section Scripts {


        <script>
            $(document).ready(function () {
                $('form').submit(function (event) {
                    var isFormValid = true;

                    $(this).find(':input[required]').each(function () {
                        if (!$(this).val()) {
                            isFormValid = false;
                            return false;
                        }
                    });

                    if (!isFormValid) {
                        $('#myModal').modal('show');
                        event.preventDefault();
                    }
                });
            });
        </script>
        <script>
         $(document).ready(function () {
                        var error = '@ViewBag.ErrorRegistro'; if (error)
                        { $('#errorModal').modal({ backdrop: 'static', keyboard: false }); $('#errorModal').modal('show'); }
         }); 
        </script>

        <script>
            $(document).ready(function () {
                $('#successModal').modal('show');
            });
        </script>

        <script>
            document.getElementById('togglePassword').addEventListener('click', function (e) {
                const passwordInput = document.getElementById('Contraseña');
                const passwordIcon = this.querySelector('i');
                if (passwordInput.type === "password") {
                    passwordInput.type = "text";
                    passwordIcon.classList.remove('fa-eye');
                    passwordIcon.classList.add('fa-eye-slash');
                } else {
                    passwordInput.type = "password";
                    passwordIcon.classList.remove('fa-eye-slash');
                    passwordIcon.classList.add('fa-eye');
                }
            });
        </script>

        <script>
            //REGISTRO CIVIL
            $(document).ready(function () {

                $('#Identificacion').on('input', function () {
                    var identificacion = $(this).val();
                    if (identificacion.length > 0) {

                        $.ajax({
                            url: '/Registro/BuscarPersona',
                            type: 'POST',
                            data: { identificacion: identificacion },
                            success: function (data) {

                                $('#Nombre').val(data.Nombre);
                                $('#Apellidos').val(data.Apellidos);
                                $('#Telefono').val(data.Telefono);
                                $('#pais-dropdown').val(data.Pais).change();
                                $('#provincia-dropdown').val(data.Provincia).change();
                                $('#canton-dropdown').val(data.Canton).change();
                                $('#distrito-dropdown').val(data.Distrito);
                            },
                            error: function (xhr, status, error) {
                                // Manejar errores aquí
                                console.error(error);
                            }
                        });
                    }
                });
            });

        </script>
        <script>
            $(document).ready(function () {
                // Verificación de contraseña segura
                $('#Contraseña').on('input', function () {
                    verificarContraseñaSegura($(this).val());
                });

                function verificarContraseñaSegura(password) {
                    const lengthRequirement = /.{8,}/;
                    const letterRequirement = /[a-z]/;
                    const capitalRequirement = /[A-Z]/;
                    const numberRequirement = /\d/;
                    const specialRequirement = /[!-#$_&*,.]/;

                    $('#length-requirement').text(lengthRequirement.test(password) ? 'Longitud correcta' : 'Mínimo 8 caracteres').toggleClass('text-danger', !lengthRequirement.test(password)).toggleClass('text-success', lengthRequirement.test(password));
                    $('#letter-requirement').text(letterRequirement.test(password) ? 'Letra minúscula incluida' : 'Incluye al menos una letra minúscula').toggleClass('text-danger', !letterRequirement.test(password)).toggleClass('text-success', letterRequirement.test(password));
                    $('#capital-requirement').text(capitalRequirement.test(password) ? 'Letra mayúscula incluida' : 'Incluye al menos una letra mayúscula').toggleClass('text-danger', !capitalRequirement.test(password)).toggleClass('text-success', capitalRequirement.test(password));
                    $('#number-requirement').text(numberRequirement.test(password) ? 'Número incluido' : 'Incluye al menos un número').toggleClass('text-danger', !numberRequirement.test(password)).toggleClass('text-success', numberRequirement.test(password));
                    $('#special-requirement').text(specialRequirement.test(password) ? 'Símbolo especial incluido' : 'Incluye al menos un símbolo especial').toggleClass('text-danger', !specialRequirement.test(password)).toggleClass('text-success', specialRequirement.test(password));

                    // Muestra o esconde el contenedor de requisitos según si algún requisito no se cumple
                    if (lengthRequirement.test(password) && letterRequirement.test(password) && capitalRequirement.test(password) && numberRequirement.test(password) && specialRequirement.test(password)) {
                        $('#password-requirements').addClass('d-none');
                    } else {
                        $('#password-requirements').removeClass('d-none');
                    }
                }

                // Verificación para la confirmación de la contraseña
                function verificarConfirmacionContraseña() {
                    var contraseña = $('#Contraseña').val();
                    var confirmacionContraseña = $('#ConfirmacionContraseña').val();

                    // Verifica si las contraseñas coinciden
                    if (contraseña !== confirmacionContraseña) {
                        // Muestra un mensaje de error o maneja la discrepancia
                        $('.error-contraseña').text('Las contraseñas no coinciden').show();
                        return false; // Las contraseñas no coinciden
                    } else {
                        // Oculta el mensaje de error si las contraseñas ahora coinciden
                        $('.error-contraseña').hide();
                        return true; // Las contraseñas coinciden
                    }
                }


                $('#Contraseña, #ConfirmacionContraseña').on('input', function () {
                    verificarConfirmacionContraseña();
                });


                verificarContraseñaSegura($('#Contraseña').val());
            });
        </script>
        <script>
            $(document).ready(function () {
                $('#registrationForm').submit(function (event) {
                    event.preventDefault();
                    var formData = $(this).serialize();

                    $.ajax({
                        type: "POST",
                        url: "/Registro/Registrar",
                        data: formData,
                        success: function (response) {
                            if (response.success) {

                                $('.modal-body').text(response.message);
                                $('#messageModal').modal('show');
                            } else {

                                $('.modal-body').text(response.message);
                                $('#messageModal').modal('show');
                            }
                        },
                        error: function (xhr, status, error) {
                            $('.modal-body').text('Hubo un error al procesar la solicitud.');
                            $('#messageModal').modal('show');
                        }
                    });
                });

                $(document).on('click', '.btn-secondary', function () {
                    $('#messageModal').modal('hide');
                });
            });
        </script>


        <script src="//ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <script>
            //trae los paises, provincias, cantones y distritos
        $(function() {

               // Carga inicial de países
    $.getJSON('@Url.Action("GetPaises", "Registro")', function(data) {
        var items = "<option value=''>Seleccione un país</option>";
        $.each(data, function(i, pais) {
            items += "<option value='" + pais.Value + "'>" + pais.Text + "</option>";
        });
        $("#pais-dropdown").html(items);
    });

    // Evento change para el dropdown de países
    $('#pais-dropdown').change(function() {
        var paisId = $(this).val();
        if (paisId) {
            $.getJSON('@Url.Action("GetProvinciasByPaisId", "Registro")', { paisId: paisId }, function(data) {
                var items = "<option value=''>Seleccione una provincia</option>";
                $.each(data, function(i, provincia) {
                    items += "<option value='" + provincia.Value + "'>" + provincia.Text + "</option>";
                });
                $("#provincia-dropdown").html(items);
                // Agregado: limpiar y resetear los dropdowns siguientes
                $("#canton-dropdown").html('<option value="">Primero seleccione una provincia</option>');
                $("#distrito-dropdown").html('<option value="">Primero seleccione un cantón</option>');

                // Agregado: Dispara el evento change para cargar cantones automáticamente
                // si hay una provincia preseleccionada (en caso de editar, por ejemplo)
                $('#provincia-dropdown').change();
            });
        } else {
            // Si no se selecciona país, limpia las provincias
            $("#provincia-dropdown").html('<option value="">Seleccione un país primero</option>');
            $("#canton-dropdown").html('<option value="">Primero seleccione una provincia</option>');
            $("#distrito-dropdown").html('<option value="">Primero seleccione un cantón</option>');
        }
    });


            $('#provincia-dropdown').change(function() {
                var provinciaId = $(this).val();
                $.getJSON('@Url.Action("GetCantonesByProvinciaId", "Registro")', { provinciaId: provinciaId }, function(data) {
                    var items = "<option value=''>Seleccione un cantón</option>";
                    $.each(data, function(i, canton) {
                        items += "<option value='" + canton.Value + "'>" + canton.Text + "</option>";
                    });
                    $("#canton-dropdown").html(items);
                    $("#distrito-dropdown").html('<option value="">Primero seleccione un cantón</option>');
                });
            });


            $('#canton-dropdown').change(function() {
                var cantonId = $(this).val();
                $.getJSON('@Url.Action("GetDistritosByCantonId", "Registro")', { cantonId: cantonId }, function(data) {
                    var items = "<option value=''>Seleccione un distrito</option>";
                    $.each(data, function(i, distrito) {
                        items += "<option value='" + distrito.Value + "'>" + distrito.Text + "</option>";
                    });
                    $("#distrito-dropdown").html(items);
                });
            });
        });


        </script>

    }

</body>
