
@{
    ViewBag.Title = "Seguimiento";
    int IDEmpresa = Convert.ToInt32(Session["IDEmpresa"]);

}


<head>

    <meta charset="utf-8">
    <title>Inicio - Transportes ULAC</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="~/Content/img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Roboto:wght@500;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="~/Content/lib/animate/animate.min.css" rel="stylesheet">
    <link href="~/Content/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="~/Content/css/style.css" rel="stylesheet">
    <style>
        /* Estilos CSS */
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }

        .container {
            max-width: 1200px;
            margin: 20px auto;
            padding: 0 20px;
        }

        .welcome {
            text-align: center;
            margin-bottom: 20px;
        }

        .status-box {
            display: flex;
            justify-content: space-around;
            margin-bottom: 20px;
        }

        .status {
            flex: 1;
            padding: 20px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            text-align: center;
        }

            .status h3 {
                margin-top: 0;
            }

        .table-container {
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            padding: 20px;
            overflow-x: auto;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

            table th,
            table td {
                padding: 10px;
                text-align: left;
            }

            table th {
                background-color: #f2f2f2;
            }


            table tr:hover {
                background-color: #eaeaea;
            }

        /* Estilos para el formulario de búsqueda y filtro */
        .search-form {
            margin-bottom: 20px;
        }

            .search-form input[type="text"] {
                width: 200px;
                padding: 5px;
                margin-right: 10px;
            }

            .search-form select {
                padding: 5px;
            }
        /* Estilos para los estados */
        .status-problems {
            background-color: #ffcccc; /* Rojo claro */
        }

        .status-in-transit {
            background-color: #ccccff; /* Azul claro */
        }

        .status-delivered {
            background-color: #ccffcc; /* Verde claro */
        }
    </style>

</head>

<body>
    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-white navbar-light shadow border-top border-5 border-primary sticky-top p-0">
        <a href="#" class="navbar-brand bg-primary d-flex align-items-center px-4 px-lg-5">
            <h2 class="mb-2 text-white">Transportes ULAC</h2>
        </a>
        <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto p-4 p-lg-0">
                <a href="inicio.html" class="nav-item nav-link active">Inicio</a>
                <a href="Seguimiento.html" class="nav-item nav-link">Seguimiento de Envíos</a>
                <a href="~/Views/Home/DetallesOperacion.cshtml" class="nav-item nav-link">Detalles de Operación</a>
                <a href="perfil.html" class="nav-item nav-link">Perfil</a>
                <a href="index.html" class="nav-item nav-link">Cerrar Sesión</a>
                <!-- Mostrar IDEmpresa en la barra de navegación -->
                <div class="nav-item">
                    <span class="nav-link">
                        @if (Session["IDEmpresa"] != null)
                        {
                            <span name="IDEmpresa">IDEmpresa: @Session["IDEmpresa"]</span>
                        }
                    </span>
                </div>
            </div>
        </div>
    </nav>
    <!-- Navbar End -->
    <div class="container">
        <div class="welcome">
            <h2>Bienvenido de Nuevo, Marilyn</h2>
        </div>
        <div class="status-box">
            <div class="status status-problems">
                <h3>! Problemas</h3>
                <p>2 Envíos con problemas</p>
            </div>
            <div class="status status-in-transit">
                <h3>> Salida para Entregar</h3>
                <p>5 Envíos en camino</p>
            </div>
            <div class="status status-delivered">
                <h3>/ Entregas de Hoy</h3>
                <p>3 Envíos entregados hoy</p>
            </div>
        </div>
        <!-- Formulario de búsqueda y filtro -->
        <div class="search-form">
            <form id="search-form">
                <input type="text" id="search-id" placeholder="ID del viaje">
                <select id="filter-country">
                    <option value="">Todos los países</option>
                    <option value="Costa Rica">Costa Rica</option>
                    <option value="Honduras">Honduras</option>
                    <option value="Nicaragua">Nicaragua</option>
                    <option value="El Salvador">El Salvador</option>
                    <option value="Panamá">Panamá</option>
                </select>
                <select id="filter-status">
                    <option value="">Todos los estados</option>
                    <option value="En camino">En camino</option>
                    <option value="Entregado">Entregado</option>
                    <option value="Problemas">Problemas</option>
                </select>
                <button type="button" onclick="filter()">Filtrar</button>
            </form>
        </div>
        <form action="@Url.Action("ObtenerDatosSeguimiento", "Seguimiento")" method="post">

            <button type="submit">Cargar datos</button>

            <table data-role="table" id="table-seguimiento" data-mode="reflow" class="ui-responsive table-stroke">
                <thead>
                    <tr>
                        <th>ID viaje</th>
                        <th>ID Empresa</th>
                        <th>Chofer</th>
                        <th>Estado</th>
                     
                        <th>Compañía Contratante</th>
                        <th>Destino</th>
                        <th>Origen</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Count > 0)
                    {
                        foreach (var seguimiento in Model)
                        {
                            <tr>
                                <td>@seguimiento.IDViaje</td>
                                <td>@seguimiento.IDEmpresa</td>
                                <td>@seguimiento.Chofer</td>
                                <td>@seguimiento.Estado</td>
                                <td>@seguimiento.CompaniaContratante</td>
                                <td>@seguimiento.Destino</td>
                                <td>@seguimiento.Origen</td>
                            </tr>
                        }
                    }
                    else
                    {
                        // Mostrar un mensaje de error o una vista vacía
                        <p>No hay datos de seguimiento disponibles.</p>
                    }
                </tbody>

            </table>
            <input type="hidden" name="IDEmpresa" value="@Session["IDEmpresa"]" />

        </form>
        <!-- Footer Start -->
        <div class="container-fluid bg-dark text-light footer pt-5 wow fadeIn" data-wow-delay="0.1s" style="margin-top: 6rem;">
            <div class="container py-5">
                <div class="row g-5 justify-content-center">
                    <!-- Modificación: Agregar la clase justify-content-center -->
                    <div class="col-lg-3 col-md-6">
                        <h4 class="text-light mb-4">Dirección</h4>
                        <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>Caldera, Costa Rica</p>
                        <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+506 89884512</p>
                        <p class="mb-2"><i class="fa fa-envelope me-3"></i>gerenciatransulac@transulac.cr</p>
                        <div class="d-flex pt-2">
                            <a class="btn btn-outline-light btn-floating me-2" href="#"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-outline-light btn-floating me-2" href="#"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-outline-light btn-floating me-2" href="#"><i class="fab fa-google"></i></a>
                            <a class="btn btn-outline-light btn-floating" href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <h4 class="text-light mb-4">Enlaces Rápidos</h4>
                        <ul class="list-unstyled">
                            <li><a href="#" class="text-light">Inicio</a></li>
                            <li><a href="#" class="text-light">Seguimiento de Envíos</a></li>
                            <li><a href="#" class="text-light">Detalles de Operación</a></li>
                            <li><a href="#" class="text-light">Perfil</a></li>
                            <li><a href="#" class="text-light">Cerrar Sesión</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End -->
        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/Content/lib/wow/wow.min.js"></script>
        <script src="~/Content/lib/easing/easing.min.js"></script>
        <script src="~/Content/lib/waypoints/waypoints.min.js"></script>
        <script src="~/Content/lib/counterup/counterup.min.js"></script>
        <script src="~/Content/lib/owlcarousel/owl.carousel.min.js"></script>

        <!-- Template Javascript -->
        <script src="~/Content/js/main.js"></script>
        <!-- JavaScript para filtrar y buscar viajes -->
        <script>
            $(document).ready(function () {
                $('#table-seguimiento').DataTable({
                    "paging": true,
                    "searching": true,
                    "ordering": true,
                    "info": true,
                    "lengthMenu": [10, 25, 50, 100],
                    "language": {
                        "lengthMenu": "Mostrar _MENU_ registros por página",
                        "zeroRecords": "No se encontraron resultados",
                        "info": "Mostrando _START_ a _END_ de _TOTAL_ registros",
                        "infoEmpty": "Mostrando 0 a 0 de 0 registros",
                        "infoFiltered": "(filtrado de _MAX_ registros totales)",
                        "paginate": {
                            "first": "Primero",
                            "previous": "Anterior",
                            "next": "Siguiente",
                            "last": "Último"
                        }
                    },
                    "dom": "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>>" +
                        "<'row'<'col-sm-12'tr>>" +
                        "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
                    "classes": {
                        "table": "table table-striped table-bordered table-hover"
                    }
                });
            });

        </script>
        <script>
            $(document).ready(function () {
                $("#search").on("keyup", function () {
                    var value = $(this).val().toLowerCase();
                    $("#movie-table tbody tr").filter(function () {
                        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                    });
                });
            });
        </script>
        <script>
            $(document).on("pagecreate", function () {
                $.ajax({
                    url: '/Seguimiento/ObtenerDatos', // Ruta del controlador para obtener los datos
                    method: 'GET', // Método HTTP GET para obtener los datos
                    success: function (data) {
                        // Actualiza el contenedor con los datos recibidos
                        $('#data-container').html(data).enhanceWithin(); // Asegura que los estilos de jQuery Mobile se apliquen correctamente
                    },
                    error: function (xhr, status, error) {
                        // Manejo de errores
                        console.error(error);
                    }
                });
            });
        </script>

        <script>
            $(document).ready(function () {
                $('#table-seguimiento').DataTable({
                    "columns": [
                        { "data": "ID_Viaje" },
                        { "data": "ID_Empresa" },
                        { "data": "Chofer" },
                        { "data": "Estado" },
                        { "data": "Compania_Contratante" },
                        { "data": "Destino" },
                        { "data": "Origen" }
                    ]
                });
            });
        </script>

        <script>
            $(document).ready(function () {
                $('#table-seguimiento').DataTable({
                    "language": {
                        "lengthMenu": "Mostrar _MENU_ registros por página",
                        "zeroRecords": "No se encontraron resultados",
                        "info": "Mostrando _START_ a _END_ de _TOTAL_ registros",
                        "infoEmpty": "Mostrando 0 a 0 de 0 registros",
                        "infoFiltered": "(filtrado de _MAX_ registros totales)",
                        "paginate": {
                            "first": "Primero",
                            "previous": "Anterior",
                            "next": "Siguiente",
                            "last": "Último"
                        }
                    },
                    "responsive": true,
                    "columnDefs": [
                        {
                            "targets": [0, 1],
                            "visible": false
                        }
                    ]
                });
            });

        </script>
        <!-- JavaScript para filtrar y buscar viajes -->
        <script>
            function filter() {
                var id = document.getElementById("search-id").value;
                var country = document.getElementById("filter-country").value;
                var status = document.getElementById("filter-status").value;
                var table = document.getElementById("travel-table");
                var tr = table.getElementsByTagName("tr");

                // Iterar sobre todas las filas de la tabla y ocultar aquellas que no cumplan con los criterios de búsqueda
                for (var i = 0; i < tr.length; i++) {
                    var tdId = tr[i].getElementsByTagName("td")[0];
                    var tdCountry = tr[i].getElementsByTagName("td")[4];
                    var tdStatus = tr[i].getElementsByTagName("td")[1];
                    if (tdId && tdCountry && tdStatus) {
                        if ((id === '' || tdId.textContent.toLowerCase().indexOf(id.toLowerCase()) > -1) &&
                            (country === '' || tdCountry.textContent.toLowerCase().indexOf(country.toLowerCase()) > -1) &&
                            (status === '' || tdStatus.textContent.toLowerCase().indexOf(status.toLowerCase()) > -1)) {
                            tr[i].style.display = "";
                        } else {
                            tr[i].style.display = "none";
                        }
                    }
                }
            }
        </script>
        <script>
            $(document).ready(function () {
                $('#table-seguimiento').DataTable({
                    responsive: true,
                    columnDefs: [
                        {
                            targets: [2],
                            visible: false,
                            breakpoints: [
                                {
                                    name: 'medium',
                                    width: 600
                                }
                            ]
                        }
                    ]
                });
            });
        </script>

</body >


